@{
    ViewData["Title"] = "Бабур в Кабуле";
}

<div class="left text-center mt-4">
    <h1 class="display-5">@ViewData["Title"]</h1>
    В 1504 году Бабур был вытеснен ханом Шейбани в Кабульское владение тимуридов. В этом владении с 1469 до 1501 года правил его дядя, брат отца Улугбек Кабули, а затем правил его сын Абдураззак (1501—1502). Абураззак был свергнут представителем знати Мукимбеком. В 1504 году Бабур разгромил Мукимбека и сам стал владетелем Кабульской области. Его кузен Абдураззак стал его военачальником. В 1508 году знать пыталась вновь привести к власти Абдураззака, однако заговор был раскрыт. В «Бабур-наме» отсутствуют части, относящиеся к периоду с мая 1508 года до 1519 года, поэтому деятельность Бабура и его взаимоотношения с оставшимися тимуридами остается малоизученной. Известно лишь, что Абдураззак был убит в 1513 году, то есть после окончательного поражения Бабура от шейбанидов и отступления в Кабул.
</div>
<div class="right w-50 mt-4">

</div>