@{
    ViewData["Title"] = "Дипломатические связи";
}

<div class="left text-center mt-4">
    <h1 class="display-5">@ViewData["Title"]</h1>
    В 1520-х годах Бабур установил мирные и добрые отношения с Шейбанидами. В 1528 году они отправили ему послов с поздравлениями по случаю его победы в Индии.
    К 1529 году владения Бабура включали Восточный Афганистан, Пенджаб и долину Ганга, до границ Бенгалии.
    В 1530 году незадолго до своей смерти Бабур отправил посла к московскому великому князю Василию Ивановичу. Посол добрался до Москвы только в 1533 году.
</div>
<div class="right w-50 mt-4">
   
</div>
