@{
    ViewData["Title"] = "Home Page";
}

<div class="left text-center mt-4">
    <h1 class="display-5">Захираддин Мухаммад Бабур</h1>
    <p class="text">Здесь вы можете узнать все, о среднеазиатском полководце, поэте и государственном деятеле человека Захираддин Мухаммад Бабур.</p>
</div>
<div class="right w-50 mt-4">
    <ol type="number">
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Proish">Происхождение</a></li>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Mat">Род матери Бабура</a></li>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Tradi">Традиции родства с Шибанидами и связи с узбеками Мавераннахра</a></li>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Rodnoy">Родной язык Бабура</a></li>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Vostok">Востоковеды о происхождении Бабура</a></li>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Polit">Политическая биография</a></li>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Babur">Бабур в Кабуле</a></li>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Diplomat">Дипломатические связи</a></li>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Tvorch">Творчество</a></li>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Smert">Смерть</a></li>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Nasledie">Наследие Бабура в мировой науке и литературе</a></li>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Jeni">Жёны и дети</a></li>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Sochin">Сочинения</a></li>
    </ol>
    <p></p>
</div>
