@{
    ViewData["Title"] = "Жёны и дети";
}

<div class="left text-center mt-4">
    <h1 class="display-5">@ViewData["Title"]</h1>
    Дочь Бабура, единственная женщина-историк на мусульманском Востоке — Гульбадан бегим, продолжая литературную традицию отца, написала историческое произведение «Хумаюн-наме».
    От разных жён у Бабура родилось 9 сыновей и 9 дочерей, многие из которых умерли в раннем возрасте или во младенчестве:
    <ol type="number">
        <li>(с 1503) Айша Султан-бегум, главная жена падишаха, его двоюродная сестра, третья дочь тимурида Султана Ахмад-мирзы;</li>
        <li>Фахр ан-Ниса-бегум (1502—1502)</li>
        <li>(с 1504) Зайнаб Султан-бегум (ум. 1508), его двоюродная сестра, дочь тимурида Султана Махмуд-мирзы;</li>
        <li>        (с 1507) Махам-бегум (Хазрат-Валида) (ум. 1535), дочь шиитского шейха Ахмада из Торбете-Джам — потомка Джарира ибн Абдуллы (арабский сподвижник пророка Мухаммада), родственница тимурида Хусейна Байкары;</li>
        <li>        падишах Насир ад-дин Мухаммад Хумаюн (1508—1556),</li>
        <li>        Михр Джахан-бегум (р. до 1515, ум. во младенчестве),</li>
        <li>        Ишан ад-Даулат-бегум (ум. во младенчестве),</li>
        <li>        шахзаде Барбул-мирза (1518—1521),</li>
        <li>        шахзаде Фарук-мирза (1526—1527)</li>
        <li>        (с ок. 1507) Салиха Султан-бегум Сахиба (Ак-бегум), его двоюродная сестра, дочь тимурида Султана Махмуд-мирзы;</li>
        <li>        Гюль Барг-бегум (Гюльрух-бегум) (р. до 1519), жена Ходжи Нур ад-дина Мухаммада-мирзы (Сайида Амира), сына Ходжи Ала ад-дина Мухаммада-мирзы,</li>
        <li>        (с 1508) Масума Султан-бегум (ум. 1509), его двоюродная сестра, пятая дочь тимурида Султана Ахмад-мирзы;</li>
    </ol>
</div>
<div class="right w-50 mt-4">
    <ol type="number">
        <li value="13">        Масума Султан-бегум (Чача Нур) (р. до 1509), с 1518 жена Мухаммада Замана-мирзы, сына тимурида Султана Бади аз-Заман-мирзы</li>
        <li>        (с 1509) Гюльрух-бегум (ум. до 1545), вероятно сестра Амира Султана Али-мирзы Бегчика;</li>
        <li>        шахзаде Камран-мирза (1509—1557), наваб Кабула, Кандагара (до 1528), Мултана (с 1528), Газни и Пенджаба (в 1530—1553),</li>
        <li>        Гюль Изар-бегум (р. до 1515, ум. во младенчестве),</li>
        <li>        шахзаде Мухаммад Аскари-мирза (1517—1554), наваб Мултана (до 1528), Чандери (в 1528—1530), Самбхала (в 1530—1534),</li>
        <li>        шахзаде Султан Ахмад-мирза (1517—1525),</li>
        <li>        шахзаде Шахрух-мирза (1522—1527)</li>
        <li>        (с до 1510) Дильдар Ага-бегум (Дильдар Агача), его двоюродная сестра, дочь тимурида Султана Махмуд-мирзы;</li>
        <li>        Гюль Ранг-бегум (Чача Гюль) (1511/15 — после 1534), с 1530 жена Чин-Тимур-султана (ум. после 1543), 9-го сына хана Могулистана Султан-Ахмад-хана I,</li>
        <li>        Гульчехра-бегум (1515/17—1557), с 1530 жена Тухта-Буга-султана (ум. до 1535), 10-го сына хана Могулистана Султан-Ахмад-хана I, затем жена Аббас-султана Узбека</li>
        <li>        шахзаде Абу Насир Мухаммад Хиндал-мирза (1519—1551),</li>
        <li>        Хаджах Гюльбадан-бегум (1524—1603), автор «Хумаюн-наме», с 1539 жена амира аль-умары Хизр-Ходжи-хана (ок. 1520—1559), наваба Лахора (1556) и Бихара, второго сына туглуктимурида Айман-Ходжи-хана,</li>
        <li>шахзаде Алур-мирза (1524—1529),</li>
        <li>(с 1519) Биби Мубарика (Бега-бегум) (ум. 1556), дочь Малик-шаха Мансура Юсуфзая;</li>
    </ol>
</div>
