@{
    ViewData["Title"] = "Род матери Бабура";
}

<div class="left text-center mt-4">
    <h1 class="display-5">@ViewData["Title"]</h1>
    Мать Бабура Кутлуг-Нигар-ханым (1459—1505) происходила из чингизидов, была дочерью могулистанского правителя Йунус-хана (1415—1487)[8]. Её отец Юнус-хан, благодаря тимуриду Шахруху в 13 лет в 1428 году попал на воспитание к знаменитому историку Амира Тимура Шараф аддину Али Йазди, и Шараф аддин Йазди учил его и воспитывал 12 лет до 1440 года.[9]
    Тимурид Абу Сеид помог Юнус-хану прийти к власти в Моголистане. Поэтому Йунус-хан отдал в жены сыновьям Абу-Саида двух своих дочерей. Из этих зятьев Йунус-хан больше всех любил Умар-шейха мирзу — отца Бабура. Так, всегда, когда Йунус-хан приезжал в Андижан, он оставался там два-три месяца.[9]
    Сестра матери Бабура Хуб-Нигар-ханым была матерью Мирзы Мухаммада Хайдара, который, таким образом, приходился Бабуру двоюродным братом (на среднеазиатском тюрки — холабача).
</div>
<div class="right w-50 mt-4">
   
</div>
