@{
    ViewData["Title"] = "Наследие Бабура в мировой науке и литературе";
}

<div class="left text-center mt-4">
    <h1 class="display-5">@ViewData["Title"]</h1>
    Знаменитое «Бабур-наме» было переведено на персидский (1586), голландский (1705), английский (1826), французский (1871), турецкий (1940) и русский (1942) языки. На основе «Бабурнаме» написаны романы зарубежных авторов Ф. А. Стиль (Париж,1940), Ф. Гренарда (Париж,1930), Г. Лемба (Нью-Йорк,1961), В. Гаскони (Нью-Йорк,1980), Мунилаъла (6 романов) и др.
    В Российской академической науке интерес к личности и творчеству Бабура проявился в первой половине XIX века. Востоковеды И. Н. Березин, В.Григорьев, Н.Пантусов перевели части Бабур-намэ на русский язык и изучили сами мемуары.
    Первый роман «Бабур тигр», посвященный истории жизни и деятельности Бабура, принадлежит перу американского писателя Герарда Лема, опубликован в США, г. Чикаго, 1961.
    О Бабуре написаны писателями поэмы (Айбек, Б. Байкабулов, Х. Давран), роман (П. Кадыров).
    Несмотря на давнее изучение «Бабур-наме» научного критического издания этого источника до сих пор нет.
    Наиболее авторитетным его воспроизведением считают Хайдарабадский список «Бабур-наме», представляющий старейший из дошедших до нас текстов, изданный факсимиле в Лондоне в 1905 г. А. Беверидж.
</div>
<div class="right w-50 mt-4">
    С этого издания М. А. Салье и был осуществлен перевод на русский язык, который опубликован Издательством Академии наук Узбекистана в 1958 г.
    В Узбекистане политическую деятельность Бабура изучала С. Азимджанова. Единственным учёным, отрицательно трактовавшим Бабура, был советский востоковед М. А. Абдураимов.
</div>
