@{
    ViewData["Title"] = "Политическая биография";
}

<div class="left text-center mt-4">
    <h1 class="display-5">@ViewData["Title"]</h1>
    Правитель Ферганы в 1494—1504 годах, правитель Кабула в 1504—1526 годах, глава империи Тимуридов с титулом падишах в 1507—1526 годах, правитель Мавераннахра в 1497—1498 и 1511—1512 годах, правитель Кандагара в 1512—1526 годах, падишах Хиндустана в 1526—1530 годах.
    Рано лишившись отца, который погиб по нелепой случайности, 12-летний Бабур в трудной ситуации, не располагая опытом, боролся за власть в своем уделе. Однако, его амбиции стать главой всего Мавераннахра были столь велики, что в юном возрасте он решился бороться за власть. 
    У него появилась идея воссоздать былую империю Тимуридов со столицей в Самарканде, где правил его двоюродный брат Байсункар мирза. '
    Бабур следующим образом характеризовал влияние некоторых представителей знати на Байсункара: «Наставником его был, говорят, Сейид Махмуд, шиит, поэтому Байсункар Мирзу тоже укоряли [в ереси]. 
    Позднее говорили, что в Самарканде он отказался от этих дурных убеждений и стал чист верой» В 1497 году Бабур после семимесячной осады взял Самарканд и Байсункар мирза вынужден был бежать в Гиссар.
    В дальнейшем в борьбе за власть в Мавераннахре Бабур столкнулся с опытным полководцем Шейбани-ханом, которому было уже 50 лет. Междоусобицы среди тимуридов привели к поражению Бабура.
    Воины Бабура
</div>
<div class="right w-50 mt-4">
    Весть о захвате Самарканда мужем тети Бабура, также мужем его двоюродной сестры, но одновременно его политическим противником и представителем улуса Джучи — Шейбани-ханом он писал:
    «Почти сто сорок лет столичный город Самарканд принадлежал нашему дому, неизвестно откуда взявшийся узбек, чужак и враг пришел и захватил его!»
    <i class="text-center">— Захир ад-Дин Мухаммад Бабур, «Бабур-наме»</i>
    <i class="text-center">Бабур. Миниатюра из Бабур-наме. ГМВ, Москва.</i>
    Как отмечает В.Бартольд, в XV веке жителей Улуса Джучи называли узбеками, в отличие от чагатаев кочевников. Однако, тимуридский поэт Алишер Навои считал узбеков наряду с арабами одними из древних жителей Мавераннахра.
</div>
