@{
    ViewData["Title"] = "О создателе сайта";
}

<div class="left text-center mt-4">
    <h1 class="display-5">@ViewData["Title"]</h1>
    <h3>Сайт создан учеником 10 "А" класса школы №60 г.Ташкента Ахрарходжаевым Шахзодом в рамках учебного образовательного процесса</h3>
</div>
<div class="right w-50 mt-4">
    <h3><p>"Выражаю огромную благодарность своим учителям за полученные знания!"</p></h3>

</div>
