@{
    ViewData["Title"] = "Происхождение";
}

<div class="left text-center mt-4">
    <h1 class="display-5">@ViewData["Title"]</h1>
    Бабур родился 14 февраля 1483 года в Андижане в семье эмира Ферганы Умар-Шейха-мирзы II, правнука тимуридского султана Миран-шаха, третьего сына Тамерлана. Бабур был по линии отца тимуридом, а его мать была из рода Чингизидов. Родным для себя языком считал чагатайский тюрки́, при этом также хорошо владел персидским. Британская исследовательница наследия Бабура Аннетт Беверидж в начале XX века называла его тюрком-барласом.
</div>
<div class="right w-50 mt-4">
   
</div>
