@{
    ViewData["Title"] = "Родной язык Бабура";
}

<div class="left text-center mt-4">
    <h1 class="display-5">@ViewData["Title"]</h1>
    Бабур — основатель династии, выходец из города Андижан. Родным языком Бабура был турки (староузбекский). Писал в своих мемуарах: «Жители Андижана — все тюрки; в городе и на базаре нет человека, который бы не знал по-тюркски. Говор народа сходен с литературным».
    «Мемуары Бабура написаны на той разновидности тюркского языка, которая известна под названием турки, являющегося родным языком Бабура», — писал английский востоковед Е. Дениссон Росс.
</div>
<div class="right w-50 mt-4">
   
</div>
