@{
    ViewData["Title"] = "Смерть";
}

<div class="left text-center mt-4">
    <h1 class="display-5">@ViewData["Title"]</h1>
    Умер Бабур 26 декабря 1530 года в Агре, возможно, от дизентерии. Согласно его завещанию, его останки были перенесены в Кабул в сад, им основанный. Позже здесь был построен мавзолей.
    Мавзолей Бабура в Кабуле
    Перед смертью Бабур разделил свои владения между четырьмя своими сыновьями. Старшему сыну, Хумаюну, достались индийские владения (Хиндустан), остальные сыновья получили Панджаб, Кабул и Кандагар и должны были подчиняться Хумаюну как верховному правителю империи.
</div>
<div class="right w-50 mt-4">
   
</div>
