@{
    ViewData["Title"] = "Сочинения";
}

<div class="left text-center mt-4">
    <h1 class="display-5">@ViewData["Title"]</h1>
    <ol type="number">
        <li>Бабурнома. Записки Бабура. Одно из первых изданий «Бабур-наме» издано в 1857 году великим русским тюркологом Н. И. Ильминским в Казанской типографии.</li>
        <li>Бабур-наме. Записки Бабура / Пер. М. Салье. — Ташкент, 1958; Лирика. — М., 1957.</li>
        <li>Бабур-наме: Записки Бабура / Перевод М. Салье; Общ. ред. и доработка С. А. Азимджановой; Институт востоковедения Академии наук Республики Узбекистан. — Изд. 2-е, доработанное. — Ташкент: Главная редакция энциклопедий, 1993. — 464 с. — 30 000 экз. — ISBN 5-89890-060-8. (В пер.)</li>
        <li>Бабур. Избранное: В 2-х тт. / Сост. Саидбек Хасанов. Пер. М. Салье. — Ташкент: Изд-во ЦК КП Узбекистана, 1982. — 112+256 с.</li>
        <li>Бабур. Рубаи. Перевод Наума Гребнева и Льва Пеньковского. Сувенирное издание. Изд-во Г. Гуляма, Ташкент, 1981. (1—19 перевод — Л. Пеньковского, 20—120 — перевод Н. Гребнева.) Тираж 1 000 экз.</li>
        <li>Бабур. Избранная лирика. Перевод на русский язык. Издательство ЦК Компартии Узбекистана. Ташкент, 1982. 126 с.</li>
        <li>Переводы газелей: Л. М. Пеньковский, Р. Д. Моран, А. Наумов. Рубаи: Л. Пеньковский (1—18). Наум Гребнев (20—57, 59—106, 108—124). А. Наумов (19, 58, 107, 125—150). Кытъа: Н. Гребнев. Фарды: Н. Гребнев. Масневи: Л. Пеньковский, Н. Гребнев, Д. Лукашевич.</li>

    </ol>
</div>
<div class="right w-50 mt-4">
   
</div>
