@{
    ViewData["Title"] = "Традиции родства с Шибанидами и связи с узбеками Мавераннахра";
}

<div class="left text-center mt-4">
    <h1 class="display-5">@ViewData["Title"]</h1>
    Дед Шейбани-хана Абулхайр-хан в 1451 году помог деду Бабура Абу Саиду прийти к власти в государстве Тимуридов. Одновременно Абулхайр-хан выдал свою дочь Хан-заде бегим замуж за Абу Саида. Его внук от дочери и Абу Саида — тимурида Мухаммад Султан похоронен в фамильной усыпальнице Тимуридов Гур-Эмире в Самарканде.
    Род матери Бабура восходил к Чингис-хану, так же как и род Шейбани-хана.
    Сестра Бабура Ханзаде-бегум была замужем за узбекским ханом Мухаммедом Шейбани. Как писал Бабур: «Старше всех дочерей была Хан-Заде-биким; она родилась от одной со мной матери и была старше меня на пять лет…моя старшая сестра, Ханзаде-биким, попала в руки Шейбани-хана. У неё родился сын, по имени Хуррам-шах, это был приятный юноша. Шейбани-хан отдал ему область Балх, а через год-два после смерти своего отца он отправился к милости Аллаха»
    Шейбани-хан был женат на двоюродной сестре Бабура, дочери Махмуд-хана — Айша-Султан-ханум, которая была известна как Могол-ханум и до конца жизни [хана] она была почитаемой его женой.
</div>
<div class="right w-50 mt-4">
    Другая двоюродная сестра Бабура, дочь Махмуд-хана Кутлук-ханум была замужем за шибанидом султаном Джанибек-султаном.
    Свою дочь Гульчехру бегим Бабур выдал замуж за узбекского аристократа Аббас султана
    Как подчеркивал сам Бабур, на его стороне при покорении Индии в 1526—1527 годах сражались узбекские генералы — султаны: Касим Хусейн султан, Бихуб султан, Танг Атмиш султан, а также Махмуд хан Нухани из Газипура, Куки, [брат] Баба Кашка, Тулмиш Узбек, Курбан Чахри
    Узбекский шейбанидский поэт Падшах-ходжа отправил Бабуру газель на тюрки вместе с рубаи и Бабур прислал ответное похвальное письмо.
    В 1519 году Бабур отправил рукопись своего поэтического сборника в Самарканд шейбаниду поэту Пулат султану, который был сыном Кучкунджи-хана
</div>
