@{
    ViewData["Title"] = "Творчество";
}

<div class="left text-center mt-4">
    <h1 class="display-5">@ViewData["Title"]</h1>
    За свою 47-летнюю жизнь Захириддин Мухаммад Бабур оставил богатое литературное и научное наследие. Его перу принадлежит знаменитое «Бабур-наме», снискавшая мировое признание, оригинальные и прекрасные лирические произведения (газели, рубаи), трактаты по мусульманскому законоведению («Мубайин»), поэтике («Аруз рисоласи»), музыке, военному делу, а также специальный алфавит «Хатт-и Бабури».
    Бабур переписывался с Алишером Навои. Стихи Бабура, написанные на тюркском, отличаются чеканностью образов и афористичностью. Главный труд Бабура — автобиография «Бабур-наме», первый образец этого жанра в исторической литературе, излагает события с 1493 по 1508 годы и с 1519 по 1529 годы, живо воссоздаёт детали быта знати, нравы и обычаи эпохи. Французский востоковед Луи Базан в своём введении к французскому переводу (1980 г.) писал, что «автобиография (Бабура) представляет собой чрезвычайно редкий жанр в исламской литературе»
    В последние годы жизни тема потери Родины стала одной из центральных тем лирики Бабура. Заслуга Бабура как историка, географа, этнографа, прозаика и поэта в настоящее время признана мировой востоковедческой наукой. Его наследие изучается почти во всех крупных востоковедческих центрах мира.
    Можно сказать, что стихи Бабура — автобиография поэта, в которых поэтическим языком, трогательно излагаются глубокие чувства, мастерски рассказывается о переживаниях, порожденных в результате столкновения с жизненными обстоятельствами, о чём красноречиво говорит сам поэт:
    <ul class="font-italic">
        Каких страданий не терпел и тяжких бед, Бабур?
        Каких не знал измен, обид, каких клевет, Бабур?
        Но кто прочтет «Бабур-наме», увидит, сколько мук
        И сколько горя перенес царь и поэт Бабур.
    </ul>
    Ставший одним из богатейших падишахов того времени, он все равно скучал по родной земле — Мавераннахру. Его страдание по родной земле было заметно во многих его мемуарах.

    <ul class="font-italic">
        Ты на чужбине — и забыт, конечно, человек!
        Жалеет только сам себя сердечно человек.
        В своих скитаньях ни на час я радости не знал!
        По милой родине скорбит извечно человек.
    </ul>
</div>
<div class="right w-50 mt-4">
    После захвата Северной Индии Бабуру достался знаменитый алмаз «Кохинур», позже он передавался от одного Бабурида к другому, пока не оказался в сокровищнице в Лондоне.
    Также Бабур — автор трудов «Деван», «Мубаййин», «Аруз Рисоласи», «Рисолаи Валидиййа», «Харб иши».
    Одним из известных газелей Бабура является стихотворение «Доброта» — «Яхшилиг», в котором он пишет о том, что надо делать добро народу-элю (Бори элға яхшилик қилғилки, мундин яхши йўқ Ким, дегайлар даҳр аро қолди фалондин яхшилик).
    Художник Лал. Бабур передаёт трон Хумаюну в 1530 году. Миниатюра из Акбарнаме, 1602—1603 г., Британская библиотека, Лондон
    Смотровая площадка и домик Бабура на горе Сулайман-Тоо
    В 1496 году Бабур построил на горе Сулайман-Тоо в городе Ош домик, который был разрушен советскими властями в 1960-х годах и восстановлен в 1989 году.[70] Существуют предположения, что домик не имеет отношения к Бабуру.
    Бабур, будучи в горных районах современного Таджикистана в 1501 году, написал на камнях несколько надписей. Приведём одну из них:
    <ul class="font-italic">
        <li> Слышал я, что Джемшид, блаженный по природе,</li>
        <li>        Написал на камне у ручья:</li>
        <li>        «У этого ручья, как и мы, многие отдыхали</li>
        <li>        И ушли, не успев мигнуть глазом.</li>
        <li>        Захватили мы мир мужеством и силой,</li>
        <li>        Но не унесли с собою в могилу».</li>
        <li>        Бабур обменивался письмами и стихами с известными тюркскими поэтами своей эпохи. Он отправил свои стихи и получил ответное письмо от Алишера Навои.</li>
    </ul>
</div>
