@{
    ViewData["Title"] = "Востоковеды о происхождении Бабура";
}

<div class="left text-center mt-4">
    <h1 class="display-5">@ViewData["Title"]</h1>
    Фольц утверждает, что Бабура нужно считать скорее тюрком. Он называет его отца наполовину Тимуридом-тюрком и наполовину Чагатаидом, а мать — наполовину Чагатаидкой и наполовину монголкой; при этом все Чагатаиды к тому времени уже были тюркизированы. Ж. Шальон также описывает Бабура как «тюркоговорящего чагатаида»[19]. «Чагатайским тюрком» называют его Н. К. Синха и А. Ч. Банерджи.
    Более радикальную позицию занимает М. Х. Нури, который говорит о правомерности суждения, согласно которому Бабура и его потомков можно рассматривать как «узбекскую династию, правившую в Индии на протяжении более 300 лет».
    Говоря о происхождении Бабура, исследователи, как отмечает Е. И. Руденко, также подчеркивают его монгольские корни[22]. Например, Дж. В. Лобо[23] и С. Бхаттачарья однозначно считают его монголом. Э. Б. Хейвелл говорит о том, что отец Бабура был тюрко-монголом, а мать — чистой монголкой.
</div>
<div class="right w-50 mt-4">
   
</div>
